<style>
    /* Box-sizing */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*.container{
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  cursor: pointer;
}*/
.top{
  background: black;
  width: 100%;
  height: 33%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color:black;
  box-shadow: 0 0 50px 50px black;
}
.bottom{
  background: black;
  width: 100%;
  height: 34%;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color:black;
  box-shadow: 0 0 50px 50px black;
}
    
.bottom-left{
  background: black;
  width: 33%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color:black;
  box-shadow: 0 0 50px 50px black;
}
.bottom-right{
  background: black;
  width: 33%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color:black;
  box-shadow: 0 0 50px 50px black;
}
.top-left{
  background: black;
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color:black;
  box-shadow: 0 0 50px 50px black;
}
.top-right{
  background: black;
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color:black;
  box-shadow: 0 0 50px 50px black;
}
.middle-left{
  background: black;
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: pointer;
  background-color:black;
  box-shadow: 0 0 50px 50px black;
}
.middle-right{
  background: black;
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  cursor: pointer;
  background-color:black;
  box-shadow: 0 0 50px 50px black;
}

</style>