body {
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
}

iframe {
    margin:0;
    border:0;
    padding:0;
    border-image-width:0;
    display:block;
    width:100%;
    height:100%;
}

section {
    width:100%;
    height:100%;
}